{% extends "base.html" %}

{% block title %}Classrooms{% endblock title %}

{% block content %}
<h1> {{ classroom.title }} </h1>

<div class="list-group">
    {% for student in classroom.student_set.all %}
        <a href="{% url 'student_detail' pk=student.pk %}" class="list-group-item list-group-item-action">{{ student.name }}</a>
    {% endfor %}
</div>
<hr width="100%" size="2">
<a class="btn btn-primary" href="{% url 'student_new' %}" role="button">New Student</a>


<div>
<p>
<a href="{% url 'classroom_delete' classroom.pk %}">Delete</a>
</p>
<p>Back to <a href="{% url 'home' %}">All Classrooms</a>.</p>
</div>
{% endblock content %}
