{% extends "base.html" %}

{% block title %}Classrooms{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-title">
            <span class="fw-bold">{{ classroom.title }}</span>
        </div>
        <div class="card-body">
            {% for student in classroom.student_set.all %}
                <p><span class="fw-bold">{{ student.name }}</span></p>
            {% endfor %}
        </div>
    </div>
    <a class="btn btn-primary" href="{% url 'student_new' %}" role="button">New Student</a>
{% endblock content %}
